---
layout: default
---
<article ng-controller="Home">
  <div class="large-12 columns">
    <header class="text-center">
      <h1 data-casino-lights config="config">ANDY</h1>
    </header>
  </div>

  <div class="large-12 columns">
    <form class="row">
      <div class="medium-offset-3 medium-1 columns">
        <label for="power">Power</label>
        <div class="switch radius tiny">
          <input ng-model="config.power" id="power" type="checkbox">
          <label for="power"></label>
        </div>
      </div>
      <div class="medium-5 columns end">
        <label>Select Box
          <select ng-model="config.filter">
            <option value="random">Random</option>
            <option value="vertical">Vertical</option>
            <option value="letter">Letter</option>
          </select>
        </label>
      </div>
      <!--[if !IE]> -->
        <div class="medium-offset-3 medium-6 end columns">
          <label for="speed">Interval</label>
          <input id="speed" min="30" max="200" type="range" ng-model="config.speed" />
        </div>
      <!-- <![endif]-->
      <div class="medium-offset-3 medium-6 end columns">
        <br />
        <label>
          <a target="github" href="http://github.com/thatguynamedandy/angular-casino-lights">
            Go get yourself some flashy lights!
          </a>
        </label>
      </div>
    </form>
  </div>
</div>
