---
---

//
// IMPORTS
//

@import "../bower_components/foundation/scss/foundation/functions";
@import "variables";
@import "../bower_components/foundation/scss/foundation";
@import "../bower_components/angular-casino-lights/dist/casino-lights";

$outline: #d78965;

[type="range"] {
  width:100%;
}

h1 {
  span {
    margin-right:rem-calc(4);
  }

  span:before {
  content: attr(data-content);
  position: absolute;
  padding: 0 3px;
  left: 0;
  z-index: -1;
  text-shadow:
    1px 1px 0px $outline,
    -1px -1px 0px $outline,
    -1px 1px 0px $outline,
    1px -1px 0px $outline,

    2px 2px 0px $outline,
    -2px -2px 0px $outline,
    2px -2px 0px $outline,
    -2px 2px 0px $outline,

    3px 3px 0px $outline,
    -3px -3px 0px $outline,
    -3px 3px 0px $outline,
    3px -3px 0px $outline,

    -4px 0px 0px $outline,
    -4px 3px 0px $outline,
    -4px -3px 0px $outline,

    5px -1px 1px $text-shadow-1,
    5px 2px 1px $text-shadow-1,
    5px 4px 1px $text-shadow-1,
    5px 6px 1px $text-shadow-1,
    -2px 6px 1px $text-shadow-1,

    6px 0px 1px $text-shadow-2,
    6px 3px 1px $text-shadow-2,
    6px 5px 1px $text-shadow-2,
    6px 7px 1px $text-shadow-2,
    -2px 7px 1px $text-shadow-2,

    -3px 8px 5px black,
    7px 8px 5px black;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
