
//
// VARIABLES
//
$h1-font-size: rem-calc(160);

// Colors
$darkGray: #333;

// Font stacks

$header-font-color:#dec085;
$subheader-font-color:#C4C3C3;
$body-bg: $darkGray;
$form-label-font-color:#9A9999;
$body-font-family: 'Source Sans Pro', sans-serif;;
$header-font-family: 'Bitter', serif;
$small-font-size:rem-calc(14);


$panel-bg: scale-color($darkGray, $lightness: 5%);
$panel-function-factor:8%;
//$panel-border-color: lighten($panel-bg, 40%);

//Casino light variables
$casino-font-family:$header-font-family;
$casino-header-font-size:$h1-font-size;
$casino-light-size:10px;
$casino-line-height:6.3rem;
$casino-height:7.5rem;
//$casino-light-size
$text-border:#d78965;
$text-shadow-1:darken($text-border, 30%);
$text-shadow-2:darken($text-border, 40%);
